body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
    
}

#tablero{
    background-color: black;
    background-image: url("../assets/imagenes/FB/flappybirdbg.png") ;
}

.svg-original {
    width: auto;     /* Ancho según la proporción original */
    height: auto;    /* Alto según la proporción original */
    max-width: 100%; /* Evita que se desborde en pantallas pequeñas */
}
  