body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
    
}

#tablero{
    background-color: black;
    background-image: url("../assets/imagenes/FB/fondoBueno.jpg") ;
}

.svg-original {
    width: auto;     
    height: auto;    
    max-width: 100%; 
}
  